[submodule "lua"]
	path = lua
	url = http://luajit.org/git/luajit-2.0.git
[submodule "metamod-source"]
	path = metamod-source
	url = git@github.com:alliedmodders/metamod-source.git
[submodule "libuv"]
	path = libuv
	url = git@github.com:libuv/libuv.git
